.app {
  font-family: "Poppins", sans-serif;
  text-align: center;
  background-color: #f4f4f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 20px auto;
}
.header p{
  display: flex;
  align-items: center; 
  gap: 9px;
  cursor: pointer;
}
.question-section {
  margin-bottom: 20px;
}

.question-count {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}

.question-text {
  margin-bottom: 20px;
  font-size: 17px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid gray;
  margin-bottom: 20px;
}

.answer-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.answer-section .option {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

.answer-section button {
  padding: 5px;
  width: 50vh;
  margin: 5px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #e0e0e0;
  transition: background-color 0.3s;
}

.answer-section button:hover {
  background-color: #d0d0d0;
}

.answer-section button.green {
  background-color: #a5d6a7;
}

.answer-section button.red {
  background-color: #ef9a9a;
}

.navigation-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.navigation-buttons button,
.reset-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #1976d2;
  color: #fff;
  transition: background-color 0.3s;
}

.navigation-buttons button:disabled {
  background-color: #b0bec5;
  cursor: not-allowed;
}

.navigation-buttons button:hover:not(:disabled) {
  background-color: #1565c0;
}

.score-section {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.index {
  margin-top: 10px;
  font-size: 16px;
}

h1 {
  color: blue;
}
.developerName {
  font-size: 10px;
  color: red;
  margin-top: 30px;
}
.dark {
  background-color: #01284f;
  color: #fff;
}
.header button{
  padding: 10px;
  border-radius: 30px;
}
